<table class='table'>
  <tr><%= image_tag user.get_profile_image, size: '100x100' %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <td>follows</td>
    <td><%= link_to user.followings.count,followings_user_path(user.id) %></td>
  </tr>
  <tr>
    <td>followers</td>
    <td><%= link_to user.followers.count,followers_user_path(user.id) %></td>
  </tr>
</table>
<% if (user == current_user) && (user.name != "guestuser") %>
  <div class='row'>
    <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  </div>
<% elsif user != current_user %>
    <% if current_user.followings?(user) %>
      <%= link_to "フォロー外す",user_relationships_path(user.id), class: "btn btn-info", method: :delete %>
    <% else %>
      <%= link_to "フォローする",user_relationships_path(user.id), class: "btn btn-success", method: :post %>
    <% end %>

<% end %>